body{
    margin: 0;
    font-family: Roboto;
}
header{
    background: #03a9fa;
    text-align: center;
}

.logo{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

header input{
    font-size: 20px;
    margin: 20px 0px;
}

.news_item{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}